/* General styles */
* {
  font-family: "JetBrains Mono", monospace;
  font-size: 12px;
  color: #fff;
}

/* Background and padding for all modules */
#waybar {
  background: rgba(0, 0, 0, 0);
  padding: 1px 4px;
}

/* Common style for all containers */
.module {
  padding: 0px 4px;
}

#clock {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.modules-right {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.modules-left {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

/* Workspace styling */
#workspaces button {
  background: transparent;
  color: #414868;
  padding: 0px 4px;
  margin: 0 2px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background: #414868;
  color: #000;
}

/* Active workspace style */
#workspaces button.active {
  background: #4a5278;
  color: #fff;
}

#language {
  font-size: 14px;
  margin-bottom: 2px;
}



