/* General styles */
* {
  font-family: "UbuntuMono Nerd Font", monospace;
  font-size: 15px;
  margin: 2px 2px;
}

/* Background and padding for all modules */
#waybar {
  background: rgba(0, 0, 0, 0);
  padding: 1px 4px;
}

/* Common style for all containers */
.module {
  padding: 0px 4px;
}

#clock {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: 0px 4px;
}

.modules-right {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #fff;
  padding-right: 6px;
}

.modules-left {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: #fff;
}

/* Workspace styling */
#workspaces button {
  background: transparent;
  padding: 0px 4px;
  margin: 0 2px;
  border-radius: 6px;
  transition: all 0.3s ease;
  color: #fff;
}

#workspaces button:hover {
  background:  #e9e9e9;
  color: #000;
}

/* Active workspace style */
#workspaces button.active {
  background:  #e9e9e9;
  color: #000;
}

#language {
  font-size: 16px;
  margin-bottom: 2px;
}
