window {
    opacity: 0.8;
    background-color: #1f2335; /* Black background */
    color: #c0caf5; /* White text */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c0caf5;
}

entry {
    background-color: #1f2335; /* Black background for the input field */
    color: #c0caf5; /* White text */
    border: 1px solid #c0caf5; /* Border for the input field */
    /*margin: 5px 0;*/
    padding: 5px;
}

entry:selected {
    background-color: #545c7e; /* Highlighted entry background */
    color: #c0caf5; /* Highlighted entry text */
}

list {
    background-color: #1f2335; /* Black background for the list */
    color: #c0caf5; /* White text */
}

list > * {
    padding: 5px;
    margin: 2px 0;
}

list > entry:selected {
    background-color: #545c7e; /* Highlighted selection background */
    color: #c0caf5; /* Highlighted selection text */
}

